*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 25px;
    text-transform: uppercase;
    color: #ffff;
    font-weight: 700;
}

.navegacion ul{

    list-style: none;

}

.header .navegacion ul li{
    float: left;
    position: relative;
}

.header .navegacion ul li a{
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navegacion ul li a:hover{
    background-color: #e91e63;
}

.header .navegacion ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

.header .navegacion ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}

.header .navegacion ul li ul li ul{
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navegacion ul li ul li{
    width: 100%;
}
.header .navegacion ul li:hover > ul{
    display: initial;
}



.menu{
    width: 45px;
    height: 35px;
}




.kevinss {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image:url(../img/header.jpg);
    background-size: cover;
}

.contenedoress{
    display:flex;
    
    

}

.contenedores2{
    display:flex;
    
    

}

.imagenes2{
    width: 350px;
    margin-left: 1000px;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #e91e63;
    color: #fff;
    text-decoration: none;
    background: #e91e63;
}

.btn:hover{
    background: none;
}
.content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 0px 100px;
    background: #303030;
    margin: auto;
}

.box-container .box h3 {
    color: #e91e63;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 200px;
    width: 270px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(0, 0, 0,.3);
    margin: 20px;
}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #e91e63;
    font-size: 25px;
    margin: 10px 0;
}



.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.price {
    background-image:url(../img/costos.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.about {
    background: #303030;
    padding: 15px 0;
}

.box-container2{
    display: flex;       
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px rgb(0, 0, 0,.3);
    background: #171717;
    margin: 20px 20px;
}

.box-container2 .box img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: radius 50%;
    margin-top: -50px;
    border: 6px solid #e91e63;
}

.box-container2 .box h3{
    font-size: 20px;
    color: #e91e63;
    padding-top: 10px;
}

.box-container2 .box h3 {
    font-size: 20px;
    color: #e91e63;
    padding-top: 10px;
}

.box-container2 .box p {
    font-size: 18px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 15px;
    color: #e91e63;

}
.contact {
    padding: 1px ;
    background: #000;   
}

.logo1 {
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid white;
    background-image: url(../img/facebook.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: red;
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image: url(../img/whatapp.png);
}
.social-icon:nth-of-type(3){
    background-image: url(../img/insta.png);
}
.social-icon:nth-of-type(4){
    background-image: url(../img/maps.png);
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}
.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}



@media(max-width:768px) {
    p {
        padding: 0 50px;
    }
    .title {
        margin-top: 0px;
        font-size: 40px;
    }
    .sau {
        height: 100vh;
        padding: 50px 0;
    }
    .about {
        height: 100vh;
        padding: 50px 0;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .f-enlaces {
        display: none;
    }
    .navbar {
        display: none;
    }
}















